table.search-results {
  .search-result {
    strong {
      font-style: italic;
      color: #9e0000;
    }
  }
}

.search-results-sidebar {
  h4 {
    letter-spacing: -0.1rem;
  }
  .query-json {
    font-weight: bold;
  }

}
