.table {
  td.actions {
    white-space: nowrap;
    a+a {
      margin-left: 2px;
    }
  }
}

.row [class^=col-] {
  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
}

body {
  #bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:after {
      content: '';
      opacity: 0.15;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: image-url('Elastigirl_4.jpg');
      background-position: left top;
      background-size: cover;
      filter: grayscale(80%);
      z-index: -1000;
    }
  }
}

.reindex-button,
.new-model-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.mod-spacer {
  margin: 30px auto;
  border-top: 1px solid #ddd;
}